<h2 id="topic"><%= @card.topic %></h2>

<div class="links">
  <%= link_to 'Show', '#', id: 'show-button', class: 'button' %>
  <%= link_to 'Hide', '#', id: 'hide-button', class: 'button' %>
</div>

<div id="definition">
  <%= parse_markdown(@card.definition).html_safe %>
</div>
